.Back {
    margin-top: 100px;
    color: white;
    font-size: 30px;
}

.Chat-container {
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Box {
    width: fit-content;
    margin: 0 auto;
}

.Project-name {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    width: fit-content;
}

.Chat-project {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Chat-image {
    margin-top: 30px;
    width: calc(2880px * 0.2);
    height: calc(1694px * 0.2);
    border: solid 0.1px rgb(225, 225, 225);
}

.Chat-description {
    margin: 30px 0;
}

.Subtitle {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Par-1 {
    margin: 0;
    margin-bottom: 20px;
    width: calc(2880px * 0.2);
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}

.Subtitle-2 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.Technologies {
    width: calc(2880px * 0.2);
    display: flex;
    flex-direction: column;
    padding: 0;
}

.Tech {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.Invisible {
    opacity: 0 !important;
    transition: opacity 0.2s ease-in-out;
}

.Slider {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: calc(2880px * 0.2);
    height: calc(1694px * 0.2 + 20px);
}

.Card-image {
    position: absolute;
    width: calc(2880px * 0.2);
    height: calc(1694px * 0.2);
    border: solid 0.1px rgb(225, 225, 225);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.Cards-slider {
    margin-top: auto;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Leftcard {
    height: 20px;
    width: 50px;
    cursor: pointer;
}

.Leftcard-2 {
    transform: rotate(-90deg);
}

.Rightcard {
    height: 20px;
    width: 50px;
    cursor: pointer;
}

.Rightcard-2 {
    transform: rotate(90deg);
}