.swiper {
    height: 23vw;
    width: 130vw;
}

.swiper, .swiper-wrapper {
    user-select: none;
}

.swiper img {
    cursor: pointer;
    transition: opacity 0.2s linear, transform 0.2s linear;
}

.swiper img:hover {
    opacity: 0.7;
}

.swiper img:active {
    transform: scale(0.98);
}